@import "_mixins.scss";
@import "colors.scss";
body {
  background-color: $milk;
  color: $Black;
  margin: 0;

  .Mui-selected {
    color: $green !important;
  }
  b {
    font-weight: bold;
  }
}
.signInFormVector {
  background-image: url("../assets/loginbg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;

  @include tablets() {
    background-image: none;
  }
}

.signUpFormVector {
  background-image: url("../assets/signupbg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;

  @include tablets() {
    background-image: none;
  }
}

.nav-item {
  display: block;
  padding: 5px 16px;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  text-align: center;
  height: 70px;
  line-height: 60px;
  transition: all 500ms;
  &:hover {
    background-color: $green;
    border-bottom: 3px solid $green !important;
    color: white !important;
    box-shadow: none !important;
  }
}
.askAIiTN {
  &:hover {
    background-color: $green !important;
  }
}
.siginBtn {
  &:hover {
    border: none !important;
  }
}
.signout {
  &:hover {
    background-color: antiquewhite !important;
    color: rgb(49, 49, 49) !important;
  }
}
.logo {
  &:hover {
    background-color: transparent;
    color: white !important;
    border: none !important;
  }
}
.w-100 {
  width: 100%;
}
.jestifyleft {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.w-50 {
  width: 70%;
  @include tablets() {
    width: 100%;
  }
}
.mainbtn {
  background-color: $yellow !important;
  color: $Black !important;
  transition: all 500ms !important;
  &:hover {
    background-color: $milk !important;
  }
}

.recipesSection {
  background-color: $lightgreen;
  padding-bottom: 100px;
}
.secondbtn {
  color: $milk !important;
  background-color: $green !important;
  transition: all 500ms !important;
  &:hover {
    background-color: $milk !important;
    color: $green !important;
  }
}

.line {
  display: block;
  width: 15%;
  height: 2px;
  margin: auto;
  background-color: $yellow;
}

.social {
  margin-top: 10px;
  width: 80px;

  svg {
    width: 45px;
    transition: all 500ms;

    &:hover {
      fill: $yellow;
    }
  }
}

// mobile menu design
.burger-check {
  display: none;
}

/*--------------------------------------
 Sets the actionable area for the burger
 including a label for usability
--------------------------------------*/
.burger {
  position: relative;
  float: left;
  margin-left: 10px;
  width: 60px;
  height: 40px;
  cursor: pointer;
}

/*--------------------------------------
 Creates the look of the burger icon
 using the inner span and pseudo-elements
--------------------------------------*/
.burger span,
.burger span:before,
.burger span:after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  left: 10px;
  top: 22px;
  width: 40px;
  height: 4px;
  background: $green;
  border-radius: 0.2em;
}

/* Reset the left and create the pseudo-element */
.burger span:before,
.burger span:after {
  content: "";
  left: 0;
}

/* Top bar position */
.burger span:before {
  top: -8px;
}

/* Bottom bar position */
.burger span:after {
  top: 8px;
}

/* Get rid of more on action (IE9 or higher) */
.burger-check:checked + .burger:after {
  content: "";
}
/* Get rid of the middle bar on action (IE9 or higher) */

.burger-check:checked + .burger span {
  height: 0;
  width: 0;
}

/* Moves the top and bottom bars to the middle on action (IE9 or higher) */
.burger-check:checked + .burger span:before,
.burger-check:checked + .burger span:after {
  top: 6px;
}

/* Rotates the top bar on action with full browser support (IE9 or higher) */
.burger-check:checked + .burger span:before {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* Rotates the bottom bar on action with full browser support (IE9 or higher) */
.burger-check:checked + .burger span:after {
  -webkit-transform: rotate(-225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(-225deg);
}

/*==============================================================================
 Simple reveal (IE9 or higher)
==============================================================================*/
span.boo {
  width: auto;
  margin-top: 0;
  line-height: 60px;
  height: 0;
  overflow: hidden;
}

/* Reveals Boo! (IE9 or higher) */
#main-nav-test:checked ~ .boo {
  height: 50px;
}

/*==============================================================================
 Simple mobile menu opening and closing (IE9 or higher)
==============================================================================*/
//mobile menu
.mobile-menu {
  z-index: 1000;
  padding: 10px;
  position: fixed;
  width: 100%;
  flex-direction: row-reverse;
  background-color: white;
  box-shadow: 0 2px 10px $gray;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  .sidenav,
  .closebtn {
    position: relative;
    top: -50px;
    right: 0;
    width: 50px;
    color: white;

    z-index: 5;
    line-height: 1em !important;
    font-size: 40px !important;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $Black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    .closebtn {
      text-align: right !important;
    }
    a,
    .dropdown-btn {
      padding: 6px 30px 6px 16px;
      text-decoration: none;
      font-size: 20px;
      color: white;
      text-align: center !important;

      line-height: 2em;
      display: block;
      border: none;
      background: none;
      width: 100%;
      text-align: right;
      cursor: pointer;
      outline: none;
      border-bottom: 1px solid $Black;
    }
    @media screen and (max-height: 450px) {
      .sidenav {
        padding-top: 15px;
      }
      .sidenav a {
        font-size: 18px;
      }
    }
    a:active {
      color: #0aa;
    }

    /* Add an active class to the active dropdown button */
    .active {
      color: white;
      background-color: $gray;
    }

    .dropdown-container {
      display: none;
      background-color: #2a2a2a;
      padding-left: 8px;
    }

    /* Optional: Style the caret down icon */
    .fa-caret-down {
      float: right;
      padding-right: 8px;
    }
  }
}
.d-block-lg {
  display: block !important;
  @include tablets() {
    display: none !important;
  }
}
.d-block-sm {
  display: none !important;
  @include tablets() {
    display: block !important;
  }
}
.d-flex-sm {
  display: none !important;
  @include tablets() {
    display: flex !important;
  }
}

.react-multi-carousel-dot button {
  border: none;
}

.recipeCard {
  height: 500px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 0px;
  background-color: transparent !important;
  box-shadow: none !important;
  transition: all 500ms;
  &:hover {
    .cardMedia {
      box-shadow: 0 5px 25px #949494;
    }
    .cardContent {
      box-shadow: 0 5px 20px #949494;
    }
  }
  .cardMedia {
    border: 4px solid #539165;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 39%;
    height: 240px;
    width: 240px;
    border-radius: 100%;
    box-shadow: 0 2px 10px #a1a1a1;
    z-index: 2;
    transition: all 500ms;
  }
  .cardContent {
    background-color: white;
    border-radius: 40px 10px;
    box-shadow: 0 5px 10px #cacaca;
    margin: 26px;
    position: relative;
    z-index: 0;
    padding-top: 80px;
    height: 350px;
    -webkit-flex-grow: 0;
    top: 100px;
    transition: all 500ms;
    button {
      transition: all 500ms;
      margin-top: 10px;
      &:hover {
        background-color: $green;
      }
    }
    @include tablets() {
      height: auto;
    }
  }
  @include tablets() {
    height: auto;
  }
}

.w-70 {
  width: 70%;
  @include desktops() {
    width: auto !important;
  }
}

.removerFromCart {
  &:hover {
    background-color: none !important;
  }
}
.mobilemt5 {
  @include tablets() {
    margin-top: 50px;
  }
}

.css-1pyy021-MuiTabs-flexContainer {
  @include tablets() {
    flex-direction: column;
  }
}
.css-3qp1da-MuiTabs-indicator {
  @include tablets() {
    display: none;
  }
}

.NotFound {
  background-color: $milk;
  min-height: 100vh;
  background-image: url("../assets/404bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .notFounBtn {
    &:hover {
      background-color: $green !important;
      color: white !important;
    }
  }
  .NotFoundItems {
    margin-bottom: 5%;
  }
  @include tablets() {
    background-image: url("../assets/404bg-mobile.jpg");
    .NotFoundItems {
      margin-bottom: 25%;
    }
  }
}

textarea {
  width: 100%;
  resize: vertical;
  height: 100% !important;
  border: 1px solid #cbcbcb;
  border-radius: 10px;
  max-height: 500px !important;
  padding: 10px;
}
// --------------------------- recipe page ------------------------
.recipeBg {
  background-position: top;
  background-size: contain;
  background-attachment: fixed;
  height: 400px;
  background-image: url("../assets/RecipesHeader.jpg");
  background-repeat: no-repeat;
  h3 {
    margin-top: 100px;
    text-align: center;
    color: black;
    font-weight: bold;
  }
  input {
    background-color: white !important;
    box-shadow: 0 5px 20px #a7a7a7;
  }
  button {
    position: absolute;
    right: 22%;
  }
}
.featuredRecipe {
  background-color: $milk;
  .featuredRecipeImg {
    border: 4px solid #539165;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    box-shadow: 0 2px 10px #a1a1a1;
    z-index: 2;
    transition: all 500ms;
  }
}
.parallax-container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.layer1 {
  background-image: url("../assets/llayer1.svg");
  z-index: 1;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position-x: 130%;
}

.layer2 {
  background-image: url("../assets/llayer2.svg");
  z-index: 2;
  background-size: 70%;
  background-repeat: no-repeat;
}
.recipeList {
  background-image: url("../assets/listbg.svg");
  background-size: cover;
  background-repeat: repeat-y;
}
// ------------------ about us ---------------
.teamSection {
  img {
    width: 250px;
  }
}
.bgMilk{
  background-color: $milk;
}